<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>宝可梦图鉴</title>
</head>
<body>
    <h4><a href="/">主页---></a></h4>
    <h1>妙蛙种子</h1>
    <img src="https://s1.52poke.com/wiki/thumb/2/21/001Bulbasaur.png/300px-001Bulbasaur.png" />
    <h2>概述</h2>
    <h3>妙蛙种子是一种四足的宝可梦，外表类似蟾蜍。它有着鲜红色的眼睛，白色的瞳孔和巩膜，头顶上长着一对凸起的耳朵。它的鼻子短而钝，且有一张大嘴。当它的嘴巴张开时，可以看到上颚的一对小而尖的牙齿。它的皮肤呈蓝绿色，并附有深绿色的斑纹。它每条粗腿的脚掌上都分出三趾，且末端都长有白色的小爪子。据说在它出生的时候，背上就种有一个会和它身体一同成长的神奇种子。
        妙蛙种子背上的种子里储存着营养，所以即使好几天不吃东西也可以活得好好的。在它出生后的一段时间内，它会吸收背上种子里储存着的营养成长。有时会看到它在太阳底下睡午觉的样子。在沐浴了充足的阳光后，它背上的种子就会茁壮成长。
</h3>
</body>
</html>