<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>宝可梦图鉴</title>
</head>
<body>
    <h4><a href="/">主页---></a></h4>
    <h1>图片下载</h1>
    <h2>*请在打开的页面中右键图片，选择‘图片另存为’，后再选择保存路径，在选择路径中打开‘保存类型’，选择‘所有文件’，后将文件名改为‘xxx.png或xxx.jpg’!</h2>
    <h2><a href="https://s1.52poke.com/wiki/thumb/1/17/202Wobbuffet.png/300px-202Wobbuffet.png"download="Wobbuffet.png">果然翁</a></h2>
    <img src="https://s1.52poke.com/wiki/thumb/1/17/202Wobbuffet.png/300px-202Wobbuffet.png" />
    
    <h2><a href="https://s1.52poke.com/wiki/thumb/0/0d/025Pikachu.png/260px-025Pikachu.png"download="Pikachu.png">皮卡丘</a></h2>
    <img src="https://s1.52poke.com/wiki/thumb/0/0d/025Pikachu.png/260px-025Pikachu.png" />

    <h2><a href="https://s1.52poke.com/wiki/thumb/8/88/026Raichu.png/300px-026Raichu.png"download="Raichu.png">雷丘</a></h2>
    <img src="https://s1.52poke.com/wiki/thumb/8/88/026Raichu.png/300px-026Raichu.png" />

    <h2><a href="https://s1.52poke.com/wiki/thumb/2/21/001Bulbasaur.png/300px-001Bulbasaur.png"download="Bulbasaur.png">妙蛙种子</a></h2>
    <img src="https://s1.52poke.com/wiki/thumb/2/21/001Bulbasaur.png/300px-001Bulbasaur.png" />
    
    <h2><a href="https://s1.52poke.com/wiki/thumb/7/73/004Charmander.png/300px-004Charmander.png"download="Charmander.png">小火龙</a></h2>
    <img src="https://s1.52poke.com/wiki/thumb/7/73/004Charmander.png/300px-004Charmander.png" />

    <h2><a href="https://s1.52poke.com/wiki/thumb/3/39/007Squirtle.png/300px-007Squirtle.png"download="Squirtle.png">杰尼龟</a></h2>
    <img src="https://s1.52poke.com/wiki/thumb/3/39/007Squirtle.png/300px-007Squirtle.png" />
</h3>
</body>
</html>