<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>宝可梦图鉴</title>
    <link rel="stylesheet" href="index.css" />

</head>
<body>
    <h1>欢迎来到果然宝可梦图鉴大全!!!       本站地址www.wobbuffet.my.enjoycode.com</h1>
    <h1>本站为新生网站!我们争取成为最全的宝可梦图鉴!!!</h1>    
    <p>*本站图片、文字均来源于https://wiki.52poke.com(宝可梦图鉴),侵删！</p>
    <h2><a href="/Download-picture">--->下载宝可梦图片<---</a></h2>
    <h1>-宝可梦介绍-</h1>   
    <h2><a href="/Wobbffet">果然翁</a></h2>
    <h2><a href="/Pikachu">皮卡丘</a></h2>
    <h2><a href="/Raichu">雷丘</a></h2>
    <h2><a href="/Bulbasaur">妙蛙种子</a></h2>
    <h2><a href="/Charmander">小火龙</a></h2>
    <h2><a href="/Squirtle">杰尼龟</a></h2>

</body>
</html>